@if (isLoading()) {
<tfa-spinner />
} @else {
<div class="flex flex-wrap lg:grid lg:grid-cols-3 gap-3">
  <tfa-body-timeseries class="base-card" title="Weight" unit="kg" [timeSerie]="weightTimeSeries()" />
  <tfa-body-timeseries class="base-card" title="Muscle" unit="%" [timeSerie]="muscleMassTimeSeries()" />
  <tfa-body-timeseries class="base-card" title="Fat" unit="%" [timeSerie]="fatMassTimeSeries()" />
  <tfa-body-timeseries class="base-card" title="Bone" unit="%" [timeSerie]="boneMassTimeSeries()" />

  <div class="base-card">
    <div class="card-body">
      <h1 class="card-title">Track Progress</h1>

      <form [formGroup]="progressForm" (ngSubmit)="trackProgress()" class="w-full">
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Weight (kg)</span>
          </div>
          <input type="number" class="input input-bordered w-full" formControlName="weight" />
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Muscle Mass %</span>
          </div>
          <input type="number" class="input input-bordered w-full" formControlName="muscleMass" />
        </label>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Fat %</span>
          </div>
          <input type="number" class="input input-bordered w-full" formControlName="fatMass" />
        </label>
        
        <button type="submit" [disabled]="!progressForm.valid" class="btn btn-primary w-full my-3">Save</button>
      </form>
      
    </div>
  </div>
</div>

}
