.navbar {
  min-height: 3rem;
  height: 3rem;
}

.catalog-item {
  @apply text-primary;
}

.catalog-item:hover {
  @apply bg-base-200;
}

.catalog-item-active {
  @apply bg-primary-content;
}

.navbar-center {
  display: flex;

  @apply gap-1;
}

.nav-header {
  @apply text-base font-bold;
}

.nav-item {
  @apply btn btn-sm btn-ghost;
}

.nav-item-active {
  @apply bg-primary-content text-primary;
}

.nav-item-active:hover {
  @apply text-primary-content;
}
