<div class="navbar bg-primary text-primary-content">
  <div class="navbar-start">
    <button class="btn btn-ghost">
      <img src="/assets/logo.svg" width="48" />
    </button>
  </div>

  <div class="navbar-center">
    <a class="nav-item" routerLink="/body" routerLinkActive="nav-item-active">
      <fa-icon icon="child-reaching" />
      <span class="nav-header">Body</span>
    </a>

    <a class="nav-item" routerLink="/meals" routerLinkActive="nav-item-active">
      <fa-icon icon="utensils" />
      <span class="nav-header">Meals</span>
    </a>
  </div>

  <div class="navbar-end">
    <tfa-theme-toggler />
  </div>
</div>
