<div class="navbar bg-primary text-primary-content">
  <div class="navbar-start">
    <button class="btn btn-ghost" routerLink="/">
      <img src="/assets/logo.svg" width="48" />
    </button>
  </div>

  <div class="navbar-center">
    <a class="nav-item" routerLink="/meals" routerLinkActive="nav-item-active">
      <fa-icon icon="utensils" />
      <span>Meals</span>
    </a>
    <a class="nav-item" routerLink="/training-plans" routerLinkActive="nav-item-active">
      <fa-icon icon="table-list" />
      <span>Training Plans</span>
    </a>
    <a class="nav-item" routerLink="/excercises" routerLinkActive="nav-item-active">
      <fa-icon icon="dumbbell" />
      <span>Excercises</span>
    </a>
  </div>

  <ul class="navbar-end"></ul>
</div>
