<div class="card-body">
  <h1 class="card-title">{{ title }}</h1>

  <tfa-line-chart [timeSerie]="timeSerie" />

  <div class="stats stats-horizontal place-items-center">
    <div class="stat">
      <div class="stat-title">Last measurement</div>
      <div class="stat-value"> {{ lastValue.value }} {{ unit }}</div>
      <div class="stat-desc">{{ lastValue.timestamp | date:'longDate' }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Variation</div>
      <div class="stat-value">{{ variationFromTheBeginning | number }} {{ unit }}</div>
    </div>
  </div>
</div>
