.exercises {
  display: flex;
  flex-direction: row;
}

.workouts {
  display: flex;
  flex-direction: column;

  @apply gap-3;
}

.workout-form {
  display: flex;
  flex-direction: column;

  @apply p-3 border rounded-2xl gap-3;
}