<div class="page-title">
  <h1>New Excercise</h1>
</div>

<div class="page-body">
  <form class="form" [formGroup]="form">
    <label for="name" class="form-control">
      <div class="label">
        <span class="label-text">Name</span>
      </div>
      <input type="text" placeholder="Type here" class="input input-bordered" formControlName="name" />
    </label>

    <label for="imageUrl" class="form-control">
      <div class="label">
        <span class="label-text">Image</span>
      </div>
      <input type="url" placeholder="Type here" class="input input-bordered" formControlName="imageUrl" />
    </label>

    <label for="imageUrl" class="form-control">
      <div class="label">
        <span class="label-text">Muscle Group</span>
      </div>
      <select class="input input-bordered" formControlName="muscleGroup">
        <option [value]="0" disabled>Choose</option>
        @for (muscleGroup of muscleGroups; track $index) {
          <option [value]="muscleGroup">{{ muscleGroup | toCamelCase }}</option>
        }
      </select>
    </label>

    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">Save</button>
  </form>
</div>
