@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

h1 {
  @apply text-4xl;
}

.base-card {
  @apply card card-compact card-bordered border-neutral w-full;
}

.page-title {
  padding-bottom: 1rem;
}

.stat {
  @apply py-0 px-3;
}

.stat-value {
  font-size: 1.75rem;

  @apply py-1;
}