@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

h1 {
  @apply text-4xl;
}

.base-card {
  .card-body {
    justify-content: space-between;
  }

  .card-body:hover {
    @apply cursor-pointer rounded-xl shadow-xl;
  }

  @apply card card-compact card-bordered border-neutral w-full;
}

.page-title {
  padding-bottom: 1rem;
}
