<div class="page-title">
  <h1>Training Plan - {{ trainingPlan()?.name }}</h1>
</div>

<div class="page-body">
  <div class="workouts">
    @for (workout of trainingPlan()?.workouts; track $index) {
    <h2>{{ workout.name }}</h2>

    <div class="excercises">
      @for (extendedExcercise of workout.excercises; track $index) {
      <tfa-excercise-card class="self-stretch w-full md:max-w-64" [excercise]="extendedExcercise.excercise"
        [series]="extendedExcercise.series" [reps]="extendedExcercise.reps" />
      }
    </div>
    }
  </div>
</div>