<div class="page-title">
  <h1>Excercises</h1>
</div>

<div class="page-body">
  <div class="filters">
    <div class="category-filter">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Category</span>
        </div>
        <select class="select select-bordered" (change)="selectCategory($event)">
          <option selected [value]="undefined">-</option>
          @for (category of categories; track $index) {
            <option [value]="category">{{ category }}</option>
          }
        </select>
      </label>
    </div>
  </div>

  <div class="divider"></div>

  <div class="exercises">
    @if (isLoading()) {
      <tfa-spinner />
    } @else {
    @for (category of exercises() | keyvalue; track $index) {
      <h2>{{ category.key }}</h2>
      <div class="cards-grid">
        @for (exercise of category.value; track $index) {
        <tfa-excercise-card class="exercise-card" [excercise]="exercise" />
        }
      </div>
      }
    }
  </div>
</div>