<div class="base-card card-body h-full">
  <div class="actions">
    <a [routerLink]="['/exercises', exercise().id]" target="_blank" class="btn btn-sm btn-ghost">
      <fa-icon icon="up-right-from-square" />
    </a>
  </div>

  <figure class="p-3">
    @if (exercise().image) {
      <img class="rounded-xl" [src]="exercise().image" />
    } @else {
      <img class="rounded-xl" src="/assets/images/exercise-placeholder.webp" />
    }
  </figure>

  <span class="card-title">{{ exercise().name }} - {{ series() }} x {{ reps() > 0 ? reps() : "Limit" }}</span>
  <form class="flex flex-col gap-2" [formGroup]="diaryEntryForm" (submit)="addNewDiaryEntry()">
    <span>New Diary Entry: </span>

    <label class="input input-bordered flex items-center gap-2">
      Date
      <input type="date" class="grow" formControlName="date" />
    </label>

    <label class="input input-bordered flex items-center gap-2">
      Load
      <input type="number" class="grow" formControlName="load" />
    </label>

    <button class="btn btn-primary">Save</button>
  </form>
</div>
