<div class="base-card card-body h-full">
  <div class="actions">
    <a [routerLink]="['/exercises', exercise().id]" target="_blank" class="btn btn-sm btn-ghost">
      <fa-icon icon="up-right-from-square" />
    </a>
  </div>

  <figure class="p-3">
    @if (exercise().image) {
    <img class="rounded-xl" [src]="exercise().image" />
    } @else {
    <img class="rounded-xl" src="/assets/images/exercise-placeholder.webp" />
    }
  </figure>

  <div>
    <span class="card-title">{{ exercise().name }} - {{ series() }} x {{ reps() }}</span>
  </div>
</div>