@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

form {
  display: flex;
  flex-direction: column;

  @apply gap-3;
}

.card {
  @apply w-full md:max-w-56 card-compact border;
}

.card figure {
  flex-grow: 1;
}

.card img {
  @apply md:max-w-52 p-3;
}

.card-actions {
  display: flex;
  flex-direction: row-reverse;

  @apply p-1 gap-1;
}

.card-body {
  flex-grow: 0;

  @apply min-h-24;
}

.form-control {
  @apply w-full;
}

.input {
  @apply input-bordered;
}